* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
* {
  -webkit-transition: -webkit-filter 400ms ease-in-out;
  /* -webkit-transition: -webkit-transform 1s, opacity 1s, background 1s, width 1s,
    height 1s, font-size 1s; */
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", "Roboto", sans-serif;
}

html {
  background-color: #e1e1e1;
}

p,
li {
  line-height: 1.6;
}

body {
  min-height: 1000px;
  color: #000308;
  position: relative;
  z-index: 1;
}
.bg {
  background-image: url(https://images.fineartamerica.com/images/artworkimages/mediumlarge/2/moon-texture-massimo-pietrobon.jpg);
  background-repeat: round;
  background-color: #000;
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.05;
  filter: invert(100%);
  width: 100%;
  height: 100%;
}
#myCanvas {
  height: 400px;
  width: 100%;
  /* background-image: url("./spaceimage.png"); */
  background-size: cover;
  position: absolute;
}
.backboard {
  /* position: inherit; */
  height: 400px;
  width: 100%;
  background-size: cover;
  /* background-image: url("./spaceimage.png"); */
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
#myCanvas:hover {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🚀</text></svg>")
      16 0,
    auto; /*!emojicursor.app*/
}

.backboard-top {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: end;
}
.heading-box {
  display: flex;
  flex-direction: column;
  transform: translateY(50px);
}
.heading-box:hover {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🚀</text></svg>")
      16 0,
    auto; /*!emojicursor.app*/
}
.heading-box.left {
  align-items: start;
}
.heading-box.right {
  align-items: end;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
.headings {
  color: white;
  margin: 0;
  margin-bottom: 5px;
  font-size: 40px;
}
#surname {
  font-size: 55px;
  margin: 0px;
}
/* IMAGE */
.backboard-bottom {
  height: 50%;
  width: 100%;
  transform: translateY(70px);
  display: grid;
  grid-template-columns: 25% 50% 25%;
  justify-items: center;
  pointer-events: none;
}
.user-circle {
  height: 200px;
  width: 200px;
  border: 7px solid #e7e7e7;
  overflow-x: clip;
  border-radius: 100%;
}
.user-circle img {
  height: 110%;
  width: auto;
  object-fit: cover;
  margin-bottom: 100px;
  object-position: -19px -8px;
  pointer-events: all;
}
.moon {
  width: 40%;
}
.moon img {
  height: 200px;
  transform: translateY(30px);
  pointer-events: all;
}
#moon-button {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='60' height='72' viewport='0 0 100 100' style='fill:black;font-size:36px;'><text y='50%'>🛸</text></svg>")
      16 0,
    auto; /*!emojicursor.app*/
  position: relative;
}
.headings,
.user-circle img {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='45' height='54' viewport='0 0 100 100' style='fill:black;font-size:27px;'><text y='50%'>👽</text></svg>")
      16 0,
    auto; /*!emojicursor.app*/
  position: relative;
}
/* Click the Moon */
#hideDiv {
  background: midnightblue;
  width: 100%;
  margin: auto;
  left: 0;
  color: #fff;
  height: 60px;
  text-align: center;
  display: grid;
  grid-template-columns: 95% 5%;
  justify-items: center;
  align-items: center;
  position: fixed;
  z-index: 99999;
  border: 2px solid black;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
#hide-text {
  transform: translateX(20%);
}
#close-div {
  background: none;
  color: white;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  border-left: 2px solid black;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#spacer {
  height: 100px;
  /* background-color: white; */
}
/* PAGE */
#page-cols {
  margin-top: 58px;
  height: 1500px;
  /* background-color: whitesmoke; */
  display: flex;
}
.col {
  width: 50%;
}
.section {
  border: rgba(255, 255, 255, 0) 2px solid;
}
.section h2 {
  font-size: 24px;
}
.section h4 {
  font-weight: 300;
}
.section p,
li {
  font-size: 14px;
  color: rgb(10, 10, 66);
  margin-top: 2px;
}
.section ul {
  padding-left: 5%;
  margin-top: 5px;
}
#profile {
  height: 12%;
}
#profile p {
  margin-top: 5px;
}
#education {
  height: 27%;
}
#skills {
  height: 35%;
}
#hobbies {
  height: 23%;
  margin-top: 10px;
}
#education,
#skills,
#profile,
#hobbies {
  margin-left: 20%;
  margin-right: 3%;
}

#work,
#contact {
  margin-right: 20%;
  margin-left: 3%;
}
#work {
  height: 75%;
  transform: translateY(-10px);
}
#contact {
  height: 25%;
}
#contact,
#skills {
  /* margin-top: 20px; */
}
/* SPAN DATE BAR */
.city-container {
  display: flex;
}
.city-container.mt {
  margin-top: 25px;
}
.date-box {
  display: flex;
  border-radius: 5px;
  padding: 2px;
  align-items: center;
}
#JDE,
#raven,
#soc,
#bham,
#stas {
  padding-left: 5px;
  padding-right: 5px;
}
#JDE {
  border: 1px solid rgba(222, 184, 135, 0.452);
}
#raven {
  border: 1px solid rgba(128, 128, 128, 0.432);
}
#soc {
  border: 1px solid rgba(99, 139, 177, 0.486);
}
#bham {
  border: 1px solid rgba(228, 163, 163, 0.432);
}
#stas {
  border: 1px solid rgba(97, 57, 57, 0.404);
}
.city-container h5 {
  margin: 0;
  font-weight: 500;
}
.city-container h4 {
  margin: 0;
  margin-right: 20px;
}
.span-placement {
  height: 20px;
  display: flex;
}
.big-line {
  border-bottom: 1px solid black;
  width: 15px;
  height: 1px;
  height: 50%;
  margin: 0 10px;
}
/* SKILLS */
.skill-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80%;
}
.skill-row {
  display: flex;
  height: 17%;
  justify-content: space-evenly;
}
.trait {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.trait-text-hold {
  width: 77px;
  text-align: center;
}
.trait h5 {
  margin: 0;
  text-align: center;
}
.trait img {
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 5px;
  padding: 2px;
  height: 100%;
  min-width: 82%;
  width: auto;
}
/* ROCKET */
#rocket-div {
  transform: translateY(80px);
}
#rocket {
  transform: scaleX(-1);
  margin-left: 80%;
  width: 20%;
}

/* PROJECTS */

.flickity-viewport,
.gallery-cell {
  height: 250px;
}
.gallery {
  margin-top: 28px;
  margin-bottom: 50px;
}
.gallery-cell {
  width: 47%;
  border-radius: 5px;
  margin-right: 10px;
  overflow: hidden;
  background-color: #74889488;
}
.gallery-cell.is-selected {
  background-color: #8f99a088;
}
/* cell number */
.gallery-cell:before {
  display: flex;
  flex-direction: column;
  text-align: center;
  line-height: 200px;
  font-size: 80px;
  color: white;
}
/* Container */
.photo-div {
  overflow: hidden;
  margin: 10px;
  display: flex;
}
/* Image */
.project-photo {
  height: 150px;
  width: 100%;
  object-position: center;
  margin: auto;
  align-self: center;
}
.gallery-cell div h5 {
  margin: 0px;
}
.gallery-cell div p {
  margin: 0px;
}
.project-row {
  display: flex;
  flex-direction: row;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: space-between;
}
.project-sub-col {
  display: flex;
  flex-direction: column;
}

/* links */
.mouse {
  height: 1.4rem;
  padding: 1.5px;
  border-radius: 50%;
  border: solid black 1px;
  margin-left: 5px;
  transform: translate(0px, 6px);
}

.mouse:hover {
  background-color: rgb(108, 238, 255);
  box-shadow: 0px 0px 7px rgb(108, 238, 255);

  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='30' height='36' viewport='0 0 100 100' style='fill:black;font-size:18px;'><text y='50%'>❤️</text></svg>")
      16 0,
    auto; /*!emojicursor.app*/
}
.mouse:active {
  filter: invert(100%);
}
.mouse:visited {
  background-color: green;
}
a:visited img {
  background-color: green;
}
a img {
  height: 10%;
}

/* CONTACT */
.contact {
  display: flex;
  width: 50%;
  height: 14%;
  margin-left: 10%;
  align-items: center;
}
.contact img {
  border: 1px solid black;
  border-radius: 5px;
  padding: 2px;
  height: 80%;
  width: auto;
  margin-right: 12%;
}

/* HOBBIES */
.single-before ul {
  list-style-position: outside;
}
.single-before {
  list-style: none;
  padding: 0;
  margin: 0;
}
.single-before li {
  text-indent: -1.5rem;
}
.single-before li:nth-child(1)::before {
  content: "⚽ ";
}
.single-before li:nth-child(2)::before {
  content: "🎵 ";
}
.single-before li:nth-child(3)::before {
  content: "🎮 ";
}
li span {
  position: relative;
  left: 10px;
}

/* PROGRESS BARS */
.container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.container .card {
  position: relative;
  width: 100px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40%;
  border-radius: 4px;
  text-align: center;
  overflow: hidden;
  transition: 0.5s;
}
.container .card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
}

.percent .number {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.percent .number h3 {
  font-weight: 700;
  font-size: 15px;
  transition: 0.5s;
  transform: translate(0px, -10px);
}
.card:hover .percent .number h3 {
  color: blue;
  font-size: 24px;
}
.skill-text {
  width: 54.38px;
}
.text {
  position: relative;
  color: #777;
  margin-top: 20px;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.5s;
  transform: translate(0px, -20px);
}
.card:hover .text {
  color: midnightblue;
}
svg {
  position: relative;
  overflow: overlay;
  z-index: 1000;
}

svg circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke: #191919;

  stroke-width: 10;
  stroke-linecap: round;
  transform: translate(5px, 5px);
}
svg circle:nth-child(2) {
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
}
.card:nth-child(1) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 75) / 100);
  stroke: #00ff43;
}
.card:nth-child(2) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 80) / 100);
  stroke: #00a1ff;
}
.card:nth-child(3) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 84) / 100);
  stroke: #ff04f7;
}

/* MEDIA QUERIES */

/* @media only screen and (max-width: 1150px) {
  #page-cols {
    height: 1600px;
  }
} */
@media only screen and (max-width: 1300px) {
  #page-cols {
    margin-top: 58px;
    height: 2700px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .col {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .col:nth-child(1) {
    /* height: 10%; */
  }
  .col:nth-child(2) {
    /* height: 100%; */
  }
  #profile,
  #education,
  #skills,
  #hobbies,
  #work,
  #contact {
    margin-left: 12%;
    margin-right: 12%;
  }

  .headings {
    color: white;
    margin: 0;
    margin-bottom: 5px;
    font-size: 30px;
  }
  #surname {
    font-size: 35px;
  }
  .gallery-cell {
  width: 33%;
}
@media only screen and (max-width: 900px) {
  #page-cols {
    height: 2670px;
    margin-top: 30px;
  }
}
@media only screen and (max-width: 800px) {
  #page-cols {
    height: 2900px;
  }
  .heading-box {
    margin-bottom: 80px;
  }
}
@media only screen and (max-width: 700px) {
  #page-cols {
    height: 3100px;
  }
}
@media only screen and (max-width: 620px) {
  #page-cols {
    height: 3350px;
  }
  #contact div {
    margin: 0px;
  }
}
@media only screen and (max-width: 560px) {
  #page-cols {
    height: 3500px;
  }
}
@media only screen and (max-width: 530px) {
  #page-cols {
    height: 3500px;
    margin-top: 0px;
  }
  #skills {
    height: 28%;
  }
  #contact {
    height: 20%;
  }
}
@media only screen and (max-width: 500px) {
  .bg {
    height: 180%;
    background-repeat: unset;
  }
  #page-cols {
    height: 1650px;
  }
  #skills {
    height: 25%;
  }
  #contact {
    height: 15%;
  }
  .col:nth-child(1) {
    height: 90%;
  }
  .col:nth-child(2) {
    height: 110%;
    margin-top: 10px;
  }
}
@media only screen and (max-width: 450px) {
  #page-cols {
    height: 1900px;
  }
}
@media only screen and (max-width: 400px) {
  #page-cols {
    height: 1950px;
    margin-top: 0px;
  }
  #skills {
    height: 25%;
  }
  #contact {
    height: 10%;
  }
  #left-col {
    height: 90%;
  }
  #right-col {
    margin-top: 0px;
    height: 110%;
  }
  #myCanvas {
    display: none;
  }
  .backboard {
    position: relative;
    background-image: url("./spaceimage.png");
  }
}
@media only screen and (max-width: 380px) {
  #page-cols {
    height: 1930px;
    margin-top: 0px;
  }
  #skills {
    height: 25%;
  }

  #contact {
    height: 10%;
  }
  #left-col {
    height: 85%;
  }
  #right-col {
    margin-top: 0px;
    height: 115%;
  }
}
