* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", "Roboto", sans-serif;
}

p,
li {
  line-height: 1.6;
}

body {
  background-color: white;
  min-height: 1000px;
  color: #000308;
}

.backboard {
  height: 300px;
  width: auto;
  background-size: cover;
  background-image: url("./spaceimage.png");
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.backboard-top {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: end;
}
.headings {
  color: white;
}
/* IMAGE */
.backboard-bottom {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.user-circle {
  position: absolute;
  margin-left: 39%;
  margin-top: 10%;
  height: 180px;
  width: 180px;
  border: 7px solid white;
  overflow-x: clip;
  border-radius: 100%;
}
.user-circle img {
  height: 180px;
  width: auto;
  object-fit: cover;
  margin-bottom: 100px;
  object-position: -15px -4px;
}
.moon {
  width: 40%;
}
.moon img {
  height: 200px;
  margin-left: 30px;
  margin-top: 200px;
}
#spacer {
  height: 100px;
}
/* PAGE */
#page-cols {
  height: 760px;
  background-color: whitesmoke;
  display: flex;
}
.col {
  width: 50%;
  background-color: white;
}
.section {
  border: white 2px solid;
}
.section h2 {
  font-size: 24px;
}
.section h4 {
  font-weight: 300;
}
.section p,
li {
  font-size: 14px;
  color: rgb(10, 10, 66);
}
.section ul {
  padding-left: 5%;
  margin-top: 5px;
}
#profile {
  height: 20%;
}
#profile p {
  margin-top: 5px;
}
#work,
#skills {
  height: 40%;
}
#work,
#skills,
#profile {
  margin-left: 12%;
  margin-right: 3%;
}
#education,
#contact {
  margin-right: 12%;
  margin-left: 3%;
}
#education {
  height: 60%;
  transform: translateY(-10px);
}
#contact {
  height: 40%;
}
/* SPAN DATE BAR */

.city-container {
  display: flex;
}
.city-container.mt {
  margin-top: 25px;
}
.date-box {
  display: flex;
  border-radius: 5px;
  padding: 2px;
}
#JDE {
  box-shadow: 0 0 5px burlywood;
}
#raven {
  box-shadow: 0 0 5px grey;
}
#soc {
  box-shadow: 0 0 5px lightblue;
}
#bham {
  box-shadow: 0 0 5px rgb(228, 163, 163);
}
#stas {
  box-shadow: 0 0 5px rgb(97, 57, 57);
}
.city-container h5 {
  margin: 0;
  font-weight: 500;
}
.city-container h4 {
  margin: 0;
  margin-right: 20px;
}
.span-placement {
  height: 20px;
  display: flex;
}
.big-line {
  border-bottom: 1px solid black;
  width: 15px;
  height: 1px;
  height: 50%;
  margin: 0 10px;
}
/* CONTACT */
.contact {
  display: flex;
  width: 50%;
  height: 18%;
  margin-left: 10%;
  align-items: center;
}
.contact img {
  border: 1px solid black;
  border-radius: 5px;
  padding: 2px;
  height: 80%;
  width: auto;
  margin-right: 12%;
}
/* PROGRESS BARS */
.container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.container .card {
  position: relative;
  width: 100px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40%;
  border-radius: 4px;
  text-align: center;
  overflow: hidden;
  transition: 0.5s;
}
.container .card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
}

.percent .number {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.percent .number h3 {
  font-weight: 700;
  font-size: 15px;
  transition: 0.5s;
  transform: translate(0px, -10px);
}
.card:hover .percent .number h3 {
  color: blue;
  font-size: 24px;
}
.skill-text {
  width: 54.38px;
}
.text {
  position: relative;
  color: #777;
  margin-top: 20px;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.5s;
  transform: translate(0px, -20px);
}
.card:hover .text {
  color: midnightblue;
}
svg {
  position: relative;
  overflow: overlay;
  z-index: 1000;
}

svg circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke: #191919;

  stroke-width: 10;
  stroke-linecap: round;
  transform: translate(5px, 5px);
}
svg circle:nth-child(2) {
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
}
.card:nth-child(1) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 75) / 100);
  stroke: #00ff43;
}
.card:nth-child(2) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 80) / 100);
  stroke: #00a1ff;
}
.card:nth-child(3) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 84) / 100);
  stroke: #ff04f7;
}
