* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: "Lato", "Roboto", sans-serif; */
  font-family: "Exo 2", serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
  /* letter-spacing: 0.01em; */
}

html,
body {
  height: 100%;
  margin: 0;
}

ul,
p {
  margin: 0;
}

h1 {
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: 400;
}

h2 {
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: 400;
  margin-top: 0;
}
h4 {
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 17px;
}
html {
  background-color: #e1e1e1;
}
a {
  z-index: 999;
  font-size: 16px;
}
p,
li {
  line-height: 1.6;
}
.see-website p {
  color: red;
}
body {
  min-height: 1000px;
  color: #000308;
  position: relative;
  z-index: 1;
}
.bg {
  background-image: url(https://images.fineartamerica.com/images/artworkimages/mediumlarge/2/moon-texture-massimo-pietrobon.jpg);
  background-repeat: round;
  background-size: cover;
  background-color: #000;
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.08;
  filter: invert(100%);
  width: 260%;
  height: 260%;
}
.backboard {
  height: 400px;
  width: auto;
  background-size: cover;
  background-image: url("./spaceimage.png");
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 50% 95%, 0% 100%);
}

.backboard-top {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: end;
}
.heading-box {
  display: flex;
  flex-direction: column;
  transform: translateY(50px);
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
.heading-box.left {
  align-items: start;
}
.heading-box.right {
  align-items: end;
}
.headings {
  color: white;
  margin: 0;
  margin-bottom: 6px;
  font-size: 40px;
}
#surname {
  font-size: 55px;
  margin: 0px;
}
/* IMAGE */
.backboard-bottom {
  height: 50%;
  width: 100%;
  transform: translateY(70px);
  display: grid;
  grid-template-columns: 25% 50% 25%;
  justify-items: center;
}
.user-circle {
  height: 200px;
  width: 200px;
  border: 7px solid white;
  overflow-x: clip;
  border-radius: 100%;
  overflow: hidden;
  left: 50%;
  top: 260px;
  transform: translateX(-50%);
  position: absolute;
}

.user-circle img {
  height: 110%;
  width: auto;
  object-fit: cover;
  margin-bottom: 100px;
  object-position: -8px -10px;
}
.moon {
  width: 40%;
}
.moon img {
  height: 200px;
  transform: translateY(30px);
}
#spacer {
  height: 100px;
}
/* PAGE */
#page-cols {
  margin-top: 58px;
  height: 1550px;
  /* background-color: whitesmoke; */
  display: flex;
}
.col {
  display: flex;
  width: 50%;
  gap: 3vw;
  flex-direction: column;
  /* background-color: white; */
}

.section h2 {
  font-size: 24px;
}
.section h4 {
  font-weight: 300;
}
.section p,
li {
  font-size: 16px;
  color: rgb(10, 10, 66);
  /* margin-top: 2px; */
}
.section ul {
  padding-left: 5%;
  margin-top: 6px;
}
.section {
  /* overflow: hidden; Ensures background fills even if content is large */
  border-radius: 10px;
  height: auto;
  margin-left: 3%;
  margin-right: 3%;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 3%;
  padding-bottom: 3%;

  border-radius: 10px;
  height: auto;
  margin-left: 3%;
  margin-right: 3%;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 3%;
  padding-bottom: 3%;
  background-color: #2d2d2d11; /* Dark background for crater effect */

  /* Simulate the "crater edge" using inset border */
  border: 5px solid #1a1a1a22; /* Darker border to create a sunken look */

  /* Box shadow for depth and crater illusion */
  /* box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.7); */
  /* Gradient for crater depth */

  /* Inner shadow to give the effect of depth */
}
/* #profile {
  height: 15%;
}
#profile p {
  margin-top: 5px;
}
#education {
  height: 25%;
}
#skills {
  height: 35%;
  position: relative;
}
#hobbies {
  height: 23%;
  margin-top: 10px;
} */
#education,
#skills,
#contact,
#profile,
#hobbies {
  margin-left: 9%;
  padding-right: calc(12px + 4%);
}

#work,
#flp {
  margin-right: 9%;
}
#contact {
  height: 200px;
}

/* #work {
  height: 43%;
}
#flp {
  height: auto;
}
  */
.skill-container {
  height: 400px;
  position: static;
}
/* SPAN DATE BAR */
.city-container {
  display: flex;
  align-items: center;
  margin-top: 24px;
}

.date-box {
  display: flex;
  border-radius: 5px;
  padding: 2px;
  align-items: center;
}
#JDE,
#raven,
#soc,
#bham,
#stas {
  padding-left: 6px;
  padding-right: 6px;
}
#JDE {
  border: 1px solid rgba(99, 139, 177, 0.486);
}
#raven {
  border: 1px solid rgba(99, 139, 177, 0.486);
}
#soc {
  border: 1px solid rgba(99, 139, 177, 0.486);
}
#bham {
  border: 1px solid rgba(99, 139, 177, 0.486);
}
#stas {
  border: 1px solid rgba(99, 139, 177, 0.486);
}
.city-container h5 {
  margin: 0;
  font-weight: 500;
}
.city-container h4 {
  margin: 0;
  margin-right: 20px;
}
.span-placement {
  height: 20px;
  display: flex;
}

/* SKILLS */
.skill-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80%;
}
.skill-row {
  display: flex;
  height: 17%;
  justify-content: space-evenly;
}
.trait {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.trait-text-hold {
  width: 77px;
  text-align: center;
}
.trait h5 {
  margin: 0;
  text-align: center;
}
#skillsImage {
  height: "100%";
  width: "100%";
}
.trait img {
  /* border: 1px solid black; */
  border-radius: 5px;
  padding: 2px;
  height: 100%;
  width: auto;
  min-width: 80%;
}
/* ROCKET */
#rocket-div {
  transform: translateY(150px);
}
#rocket {
  transform: scaleX(-1);
  margin-left: 80%;
  width: 40%;
  z-index: 0;
  position: absolute;
  bottom: 0px;
  right: -0px;
}
/* CONTACT */
.contact {
  display: flex;
  width: 50%;
  height: 50px;
  margin-left: 1.5%;
  align-items: center;
}
.contact p {
  margin: 0;
}
.contact img {
  /* border: 1px solid rgba(0, 0, 0, 0.13); */
  border-radius: 5px;
  padding: 2px;
  height: 60%;
  width: auto;
  margin-right: 12px;
  aspect-ratio: 1;
}

/* HOBBIES */
.single-before ul {
  list-style-position: outside;
}
.single-before {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.single-before2 {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.single-before li {
  text-indent: -1.5rem;
}
.single-before li:nth-child(1)::before {
  content: "⚽ ";
}
.single-before li:nth-child(2)::before {
  content: "🎵 ";
}
.single-before li:nth-child(3)::before {
  content: "🎮 ";
}
li span {
  position: relative;
  left: 12px;
  max-width: 90%;
}

/* PROGRESS BARS */
.container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.container .card {
  position: relative;
  width: 100px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40%;
  border-radius: 4px;
  text-align: center;
  overflow: hidden;
  transition: 0.5s;
}
.container .card:hover {
  transform: translateY(-12px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
}

.percent .number {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.big-line {
  border-bottom: 1px solid black;
  width: 15px;
  height: 1px;
  height: 50%;
  margin: 0 10px;
}

@media only screen and (min-width: 1050px) {
  /* body {
    background-color: lightblue;
  } */
}
